body {
  font-family: 'FertigoProRegular';
  color: #22ffff;
  background-color: #223355 }
h1 {
  font-family: 'FertigoProRegular'; }
.centered {
	width: 800px;
  text-align: center;
	margin: 0 auto;
}
#buttons {
  margin: 0em 0em;
}

.hidden {
    display: none;
}

.goItem {
	background-color:#436899;
	-webkit-border-top-left-radius:0.3em;
	-moz-border-radius-topleft:0.3em;
	border-top-left-radius:0.3em;
	-webkit-border-top-right-radius:0.3em;
	-moz-border-radius-topright:0.3em;
	border-top-right-radius:0.3em;
	-webkit-border-bottom-right-radius:0.3em;
	-moz-border-radius-bottomright:0.3em;
	border-bottom-right-radius:0.3em;
	-webkit-border-bottom-left-radius:0.3em;
	-moz-border-radius-bottomleft:0.3em;
	border-bottom-left-radius:0.3em;
	text-indent:0;
	display:inline-block;
	color:#2ff;
	font-style:normal;
	text-decoration:none;
	text-align:center;
}

.goMenu {
  display: none;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  z-index:1002;
	background-color:#335889;
}

.goButton {
  padding: 0.3em 0.5em;
  font-family: 'FertigoProRegular';
	font-size: 1.6em;
}
.goButton:hover {
	background-color:#468ccf;
}.goButton:active {
	top:0.5em;
}
