body {
  font-family: 'FertigoProRegular';
  color: #22ffff;
  background-color: #223355 }
h1 {
  font-family: 'FertigoProRegular'; }
.centered {
	width: 800px;
  text-align: center;
	margin: 0 auto;
}
#buttons {
  margin: 0em 0em;
}

.hidden {
    display: none;
}

.goItem {
	-moz-box-shadow:inset 0px 0px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 0px 0px 0px #bee2f9;
	box-shadow:inset 0px 0px 0px 0px #bee2f9;
	background-color:#436899;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	display:inline-block;
	color:#2ff;
	font-style:normal;
	text-decoration:none;
	text-align:center;
}

.goMenu {
  display: none;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  z-index:1002;
  overflow: auto;
	background-color:#335889;
}

.goButton {
  padding: 0.3em 0.5em;
  font-family: 'FertigoProRegular';
	font-size:26px;
}
.goButton:hover {
	background-color:#468ccf;
}.goButton:active {
	top:1px;
}
